@model IEnumerable<BrandListingServiceModel>
@{
    ViewData["Title"] = "Brands";
}

<h2>
    @ViewData["Title"]
</h2>
<hr/>
<ul class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="active">Brands</li>
</ul>
<div class="row">
    @foreach (var brand in Model)
    {
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item" id="brand-list">
                    
                    <img src="data:image;base64,@Convert.ToBase64String(brand.Image)" style="height: 150px; width: 150px;" alt="@brand.Name"/>
                    <br />
                    <a href="/shop/reels/all/@brand.Id">@brand.Name</a>
                </li>
            </ul>
        </div>
    }
</div>

