@model IEnumerable<ReelListingServiceModel>

@{
    ViewData["Title"] = "All";
}

<hr/>
<ul class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="Shop" asp-controller="Brands" asp-action="Index">Brands</a></li>
    <li><a asp-area="Shop" asp-controller="Reels" asp-action="All"></a></li>
</ul>

<div class="row">
@foreach (var reel in Model)
{
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item" id="brand-list">
                <img src="data:image;base64,@Convert.ToBase64String(reel.Image)" style="height: 150px; width: 150px;" alt="@reel.Model"/>
                <p><a href="/shop/reels/details/@reel.Id">@reel.Model</a></p>
                <p>Price :@reel.Price bgn</p>

                <br />
            </li>
        </ul>
    </div>
}
</div>