@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Bulgaria<br />
    Sofia<br />
    <abbr title="Phone">P:</abbr>
    +359 884 04 76 77
</address>

<address>
    <strong>Support:</strong> <a href="mailto:spinningfishbg@gmail.com">spinningfishbg@gmail.com</a><br />
</address>

