@model IEnumerable<AdminBrandListingServiceModel>
@{
    ViewData["Title"] = "All Brands";
}

<h2>
    @ViewData["Title"]
    <a asp-area="Admin" asp-controller="Brands" asp-action="Create" class="btn btn-success btn-sm">New Brand</a>
</h2>
        
    

<table class="table table-striped table-hover table-bordered table-responsive">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Image
        </th>
        <th>
            Description
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var brand in Model)
    {
        <tr>
            <td>
                @brand.Name
            </td>
            <td>
                <img src="data:image;base64,@Convert.ToBase64String(brand.Image)" style="height: 100px;width: 100px" alt="@brand.Name"/>
            </td>
            <td>
                @brand.Description
           </td>
        </tr>
    }
    </tbody>
</table>

